.todoList {
	margin-top: 2em;
}

p {
	margin-bottom: 0.5em;
}

.consent-alert {
	position: fixed;
	bottom: 15px;
	left:2%;
	width: 96%;
	text-align: center;
}

footer.footer {
	margin-top: 2em;
}

.footer .container {
	text-align: center;
}

.resetButton {
	position: absolute;
	bottom: 0px;
	right: 0;
	margin-bottom: 8px;
}

/**
Item tag badges
*/
span.tagbadge {
	margin-right: 0.5em;
}
span.dow {
	color: black;
	background-color: purple;
}
span.dom {
 color: black;
 background-color: orchid;
}
span.doh {
	color: black;
	background-color: coral;	
}
span.dol {
	color: black;
	background-color: chocolate;
}
span.goldsaucer {
	color: black;
	background-color: gold;
}